<p>Welcome, <%= @user.first_name %>!

<p>Thank you for signing up with <a href="https://www.petsitbend.com">Petsit Bend</a>. Your account details are listed below:</p>

<p>
  Name: <%= @user.first_name %> <%= @user.last_name %><br/>
  Email: <%= @user.email %><br/>
  Phone: <%= @user.phone %><br/>
  Address: <%= @user.address %><br/>
</p>

<p>
  Next steps:<br/>
  1) Activate your account (another email with an account activation link will be sent shortly)<br/>
  2) Add your pets<br/>
  3) Add upcoming reservations
</p>

<p>If you need help getting started, please visit our <a href="https://www.petsitbend.com/faq">FAQ</a> page for more info!</p>
