<%= render 'shared/errors', obj: @pet %>

  <div class="form-container medium-form-width">
    <div class="row">
      <div class="col-xs-12">
        <%= form_for(@pet, :html => { class: 'form-horizontal', role: 'form' }) do |f| %>
        <% if current_user.admin? %>
            <div class="form-group">
              <%= f.label :user_list, 'User', class: 'label-style' %>
              <select multiple="multiple" id="user-list" name="user_list[]">
                <% User.all.each do |user| %>
                  <option><%= user_name_and_id(user) %></option>
                <% end %>
              </select>
            </div>
          <% end %>
          <div class="form-group">
            <%= f.label :name, class: 'label-style' %>
            <%= f.text_field :name, class: 'form-control', placeholder: "Name" %>
          </div>
          <div class="form-group">
            <%= f.label :pet_type, 'Type', class: 'label-style' %>
            <%= f.select(:pet_type, ['Dog', 'Cat', 'Horse', 'Other'], { :include_blank => "Type" }, { :class => 'form-control'}) %>
          </div>
          <div class="form-group">
            <%= f.label :age, class: 'label-style' %>
            <%= f.select(:age, number_select_generator(1, 30), { :include_blank => "Age"}, { :class => 'form-control'}) %>
          </div>
          <div class="form-group">
            <%= f.label :color, 'Breed/Color', class: 'label-style' %>
            <%= f.text_field :color, class: 'form-control', placeholder: "Breed/Color" %>
          </div>
          <div class="form-group">
            <%= f.submit(@pet.new_record? ? "Add Pet" : "Update Pet", class: 'btn btn-primary btn-lg') %>
            <%= link_to 'Back', pets_path, class: "btn btn-lg btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
