<%= render 'shared/errors', obj: @pet %>

  <div class="form-container">
    <div class="row">
      <div class="col-xs-12">
        <%= form_for(@pet, :html => { class: 'form-horizontal', role: 'form' }) do |f| %>
          <div class="form-group">
            <div class="control-label col-sm-2">
              <%= f.label :name %>
            </div>
            <div class="col-sm-8">
              <%= f.text_field :name, class: 'form-control', placeholder: "Name" %>
            </div>
          </div>
          <div class="form-group">
            <div class="control-label col-sm-2">
              <%= f.label :pet_type, 'Type' %>
            </div>
            <div class="col-sm-8">
              <%= f.select(:pet_type, ['Dog', 'Cat', 'Horse', 'Other'], { :include_blank => "Type" }, { :class => 'form-control'}) %>
            </div>
          </div>
          <div class="form-group">
            <div class="control-label col-sm-2">
              <%= f.label :age %>
            </div>
            <div class="col-sm-8">
              <%= f.select(:age, number_select_generator(1, 30), { :include_blank => "Age"}, { :class => 'form-control'}) %>
            </div>
          </div>
          <div class="form-group">
            <div class="control-label col-sm-2">
              <%= f.label :color %>
            </div>
            <div class="col-sm-8">
              <%= f.text_field :color, class: 'form-control', placeholder: "Color" %>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <%= f.submit(@pet.new_record? ? "Add pet" : "Update pet", class: 'btn btn-primary btn-med') %>
              <%= link_to 'Back', pets_path, class: "btn btn-med btn-primary" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
