<div class="content">
  <h1 align="center">Pets</h1>
  <div class="data-container">
    <div class="data-header">
      <ul>
        <li>Owner</li>
        <li>Pet</li>
        <li>Options</li>
      </ul>
    </div>

    <div class="data-content">
      <% @pets.each do |pet| %>
        <ul>
          <li><%= pet.user.first_name + ' ' + pet.user.last_name %></li>
          <li><%= pet.name %></li>
          <li>
            <%= link_to 'View', pet_path(pet), class: "btn btn-med btn-primary" %>
            <%= link_to 'Edit', edit_pet_path(pet), class: "btn btn-med btn-primary" %>
            <%= link_to 'Delete', edit_pet_path(pet), class: "btn btn-med btn-primary"  %>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
</div>
