<div class="content">
  <h1 align="center"><%= @pet.name %></h1>
  <div class="data-container">
    <div class="show-data-header">Pet Details</div>
    <div class="show-data-content">
      Name: <%= @pet.name %></br>
      Type: <%= @pet.pet_type %></br>
      Age: <%= @pet.age %></br>
      Color: <%= @pet.color %></br>
    </div>
    <div class="show-edit-box"><%= link_to 'Edit', edit_pet_path(@pet), class: "btn btn-med btn-primary" %></div>
  </div>
</div>
