<div class="content">
  <h1 align="center"><img src="https://s3.amazonaws.com/petsit-bend/pets.jpg" id="icon-image" class="img-circle" alt="Pet details pet icon"><%= @pet.name %></h1>
  <div class="data-container">
    <div class="page-data-box">
      <div class="page-item-box">
        <p class="page-content-header">Pet Details</p>
        <p class="page-content">
          <strong>Name:</strong> <%= @pet.name %><br/>
          <strong>Type:</strong> <%= @pet.pet_type %><br/>
          <strong>Age:</strong> <%= @pet.age %><br/>
          <% if @pet.breed.present? %>
            <strong>Breed:</strong> <%= @pet.breed %><br/>
          <% end %>
          <strong>Color:</strong> <%= @pet.color %>
        </p>
        <% if current_user.admin? %>
          <p class="page-content-header">Reservations</p>
            <% pet_previous_reservations.each do |reservation| %>
              <p class="page-content"><%= "#{reservation.start_date} to #{reservation.end_date}" %></p>
            <% end %>
        <% end %>
      </div>
    </div>
    <div class="show-edit-box">
      <%= link_to 'Edit', edit_pet_path(@pet), class: "btn btn-lg btn-primary" %>
      <%= link_to 'Back', pets_path, class: "btn btn-lg btn-primary" %>
    </div>
  </div>
</div>
