<% @pets.each do |pet| %>
  <ul class="ul-list">
    <li class="li-list"><%= pet.user.first_name + ' ' + pet.user.last_name %></li>
    <li class="li-list"><%= pet.name %></li>
    <li class="li-list">
      <%= link_to 'View', pet_path(pet), class: "btn btn-med btn-primary" %>
      <%= link_to 'Edit', edit_pet_path(pet), class: "btn btn-med btn-primary" %>
      <%= link_to 'Delete', pet_path(pet), method: :delete,
        data: { confirm: "Are you sure you want to delete this pet?" },
          class: "btn btn-med btn-primary" %>
    </li>
  </ul>
<% end %>