<% @reservations.each do |reservation| %>
  <ul class="ul-list">
    <li class="li-list">
      <div class="data-date-check-box">
        <% if petsit_started?(reservation.start_date) && !petsit_finished?(reservation.end_date) %>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          <span class="tooltiptext">In-Progress</span>
        <% elsif petsit_finished?(reservation.end_date) %>
          <span class="glyphicon glyphicon-ok" aria-hidden="true" style="color: green;"></span>
          <span class="tooltiptext">Complete</span>
        <% end %>
      </div>
      <div class="data-pet-list-box">
        <div class="data-date-check-box">
          <span><img src="assets/users.jpg" class="info-icon"></span>
          <span class="tooltiptext"><%= reservaton_user_name(reservation) %></span>
        </div>
        <div class="data-admin-pet-box"><%= reservation.pet_list %></div>
      </div>
    </li>
    <li class="li-list"><%= "#{reservation.start_date} - #{reservation.end_date}" %></li>
    <li class="li-list">
      <%= link_to 'View', reservation_path(reservation), class: "btn btn-med btn-primary" %>
      <%= link_to 'Edit', edit_reservation_path(reservation), class: "btn btn-med btn-primary" %>
      <%= link_to 'Cancel', reservation_path(reservation), method: :delete,
        data: { confirm: "Are you sure you want to cancel this reservation?" },
          class: "btn btn-med btn-primary" %>
    </li>
  </ul>
<% end %>