<% @reservations.each do |reservation| %>
  <ul class="ul-list">
    <li class="li-list">
      <div class="data-icon-list-box">
        <div class="data-date-check-box">
          <% if petsit_started?(reservation.start_date) && !petsit_finished?(reservation.end_date) %>
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            <span class="tooltiptext">In-Progress</span>
          <% elsif petsit_finished?(reservation.end_date) %>
            <span class="glyphicon glyphicon-ok" aria-hidden="true" style="color: #0099cc;"></span>
            <span class="tooltiptext">Complete</span>
          <% end %>
        </div>
        <div class="data-date-check-box">
          <span><img src="https://s3.amazonaws.com/petsit-bend/users.jpg" class="info-icon"></span>
          <span class="tooltiptext"><%= reservaton_user_name(reservation) %></span>
        </div>
        <div class="data-date-check-box">
          <span><img src="https://s3.amazonaws.com/petsit-bend/pets.jpg" class="info-icon"></span>
          <span class="tooltiptext"><%= reservation.pet_list %></span>
        </div>
      </div>
    </li>
    <li class="li-list">
      <div id="reservation-date-string"><%= "#{reservation.start_date} - #{reservation.end_date}" %></div>
      <div class="data-date-check-box" id="reservation-date-icon">
        <span><img src="https://s3.amazonaws.com/petsit-bend/timestamp.jpg" class="info-icon"></span>
        <span class="tooltiptext"><%= reservation.start_date %><br/><%= reservation.end_date %></span>
      </div>
    </li>
    <li class="li-list">
      <%= link_to 'View', reservation_path(reservation), class: "btn btn-med btn-primary" %>
      <%= link_to 'Edit', edit_reservation_path(reservation), class: "btn btn-med btn-primary" %>
      <%= link_to 'Cancel', reservation_path(reservation), method: :delete,
        data: { confirm: "Are you sure you want to cancel this reservation?" },
          class: "btn btn-med btn-primary" %>
    </li>
  </ul>
<% end %>
