<div class="content">
  <h1 align="center">Users</h1>
  <div class="data-container">
    <div class="data-content clearfix">
      <% @users.each do |user| %>
        <div class="page-data-box">
          <div class="page-item-box">
            <p class="page-content-header">User ID: <%= user.id %></p>
            <p class="page-content"><img src="https://s3.amazonaws.com/petsit-bend/timestamp.jpg" class="info-icon"><%= user.last_login if user.last_login.present? %></p>
            <p class="page-content"><img src="https://s3.amazonaws.com/petsit-bend/pets.jpg" class="info-icon"><%= pet_names_for_user(user) if user.pets.present? %></p>
            <p class="page-content"><img src="https://s3.amazonaws.com/petsit-bend/users.jpg" class="info-icon"><%= user.first_name + ' ' + user.last_name %> | <%= user.email %></p>
            <p class="page-content">
              <img src="https://s3.amazonaws.com/petsit-bend/options.jpg" class="info-icon">
                <%= link_to 'View', user_path(user), class: "btn btn-med btn-primary", id: "no-margin-button" %>
                <%= link_to 'Edit', edit_user_path(user), class: "btn btn-med btn-primary", id: "no-margin-button" %>
                <%= link_to 'Delete', user_path(user), method: :delete,
                  data: { confirm: "Are you sure you want to delete this user?" },
                    class: "btn btn-med btn-primary", id: "no-margin-button" %>
            </p>
          </div>
        </div>
      <% end %>
    </div>
    <div class="paginate-box center">
      <%= will_paginate %>
    </div>
  </div>
</div>
