<div class="content">
  <h1 align="center"><img src="../assets/users.jpg" id="icon-image" class="img-circle">My Profile</h1>
  <div class="data-container">
    <div class="show-data-header">Account Details</div>
    <div class="show-data-content">
      <strong>Username:</strong> <%= @user.username %></br>
      <strong>Email:</strong> <%= @user.email %></br>
    </div>
    <div class="show-data-header">Personal Details</div>
    <div class="show-data-content">
      <strong>First Name:</strong> <%= @user.first_name %></br>
      <strong>Last Name:</strong> <%= @user.last_name %></br>
      <strong>Phone:</strong> <%= @user.phone %>
    </div>
    <div class="show-data-header">Address</div>
    <div class="show-data-content">
      <%= @user.address %>
    </div>
    <div class="show-edit-box"><%= link_to 'Edit', edit_user_path(@user), class: "btn btn-med btn-primary" %></div>
  </div>
</div>
