<% provide(:title, "Petsit Bend | FAQ") %>
<div class="content quick-fade-in">
  <h1 align="center">FAQ</h1>
  <div class="data-content slow-fade-in">
    <div class="page-data-box">
      <div class="page-item-box">
        <p class="page-content-header">What is Petsit Bend and what services do you offer?</p>
        <p class="page-content">Petsit Bend is a petsitting service that caters to clients in Bend, OR. We offer services such as drop-ins and overnight stays for your pet. Visit our <%= link_to 'Services', services_path, title: 'Petsit Bend pet sit Services' %> page for more details.</p>
      </div>
      <div class="page-item-box">
        <p class="page-content-header">I'm new to Petsit Bend, what should I do first?</p>
        <p class="page-content">If you are new to Petsit Bend you will need to:
          <ul class="faq-ul">
            <li><%= link_to 'Sign Up', signup_path, title: 'Sign up for Petsit Bend pet sitting'%> for our services</li>
            <li>Activate your account (an email with an activation link will be sent to the email address used during sign up)</li>
            <li>Add your pets</li>
            <li>Create a reservation</li>
          </ul>
        </p>
        <p class="page-content">To add your pets, visit <strong>Account > My Pets</strong>, and click the <strong>Add Pet</strong> button. Fill out the form completely to register your pet.</p>
        <p class="page-content">To book a reservation, visit <strong>Account > My Reservations</strong>. Click the <strong>Add Reservation</strong> button and fill out the form to create your reservation. Abel will contact you within 1-2 business days to schedule a meet and greet for you and your pets.</p>
      </div>
      <div class="page-item-box">
        <p class="page-content-header">How do I sign up for Petsit Bend services?</p>
        <p class="page-content">Please visit the <%= link_to 'Sign Up', signup_path, title: 'Sign up for Petsit Bend petsitting'%> page to register for Petsit Bend services!</p>
      </div>
      <div class="page-item-box">
        <p class="page-content-header">I'm all set up with Petsit Bend and leaving on my trip soon. What information should I supply?</p>
        <p class="page-content">To make the time away from your pet as pleasant and carefree as possible, please supply:</p>
          <ul class="faq-ul">
            <li>A spare key</li>
            <li>Payment for petsitting services</li>
            <li>Extra pet food</li>
            <li>Current feeding schedule</li>
            <li>Emergency contact info (name and phone number)</li>
            <li>Current veterinarian and vet clinic info (doctor's name, clinic address, phone number)</li>
            <li>Any special instructions for your pet (likes, dislikes, current issues, etc)</li>
          </ul>
      </div>
      <div class="page-item-box">
        <p class="page-content-header">What forms of payment do you take?</p>
        <p class="page-content">Cash or check is the preferred method of payment.</p>
      </div>
      <div class="page-item-box">
        <p class="page-content-header">I need to cancel my reservation, what should I do?</p>
        <p class="page-content">A reservation can be cancelled at any time. Please plan accordingly and notify us as soon as possible if you need to cancel a reservation.</p>
        <p class="page-content">To cancel a reservation, log in to your account and visit <strong>Account > My Reservations</strong>. Find the reservation you would like to cancel and click the <strong>Cancel</strong> button.</p>
      </div>
      <div class="page-item-box">
        <p class="page-content-header">I don't see any prices listed on the Services page, what are your rates?</p>
        <p class="page-content">Please reach out to us via our <%= link_to 'Contact', contact_path, title: 'Contact Petsit Bend' %> page to inquire about our current rates!</p>
      </div>
      <div class="page-item-box">
        <p class="page-content-header">How do I submit a testimonial?</p>
        <p class="page-content">You will need to <%= link_to 'Sign Up', signup_path, title: 'Sign up for Petsit Bend pet sitting services'%> for Petsit Bend services in order to leave a testimonial.</p>
        <p class="page-content">After you have logged in, visit the <%= link_to 'Testimonials', testimonials_path, title: "Petsit Bend's pet sit Testimonials"%> page and click <strong>Add Testimonial</strong>. After you have sibmitted the form, we will review your testimonial. Once it is accepted, the testimonial will display on the Testimonials page. You may only submit one testimonial per account.</p>
      </div>
      <div class="page-item-box">
        <p class="page-content-header">How can I reset my password?</p>
        <p class="page-content">Visit the <%= link_to 'Forgot Password?', new_password_reset_path, title: 'Reset Password' %> page to reset the password on your account.</p>
      </div>
      <div class="page-item-box">
        <p class="page-content-header">How can I resend my account activation link?</p>
        <p class="page-content">Visit the <%= link_to 'Resend Account Activiation', new_account_activation_path, title: 'Resend Account Activation Email' %> page to resend an email with a link to activate your account.</p>
      </div>
      <div class="page-item-box">
        <p class="page-content-header">I'm having a hard time setting up my account or encountering application errors, who should I contact?</p>
        <p class="page-content">Feel free to reach out to us via our <%= link_to 'Contact', contact_path, title: 'Contact Petsit Bend' %> page with any questions or concerns.</p>
      </div>
    </div>
  </div>
</div>
