<%= render 'shared/errors', obj: @reservation %>

  <div class="form-container">
    <div class="row">
      <div class="col-xs-12">
        <%= form_for(@reservation, :html => { class: 'form-horizontal', role: 'form' }) do |f| %>
          <div class="form-group">
            <div class="control-label col-sm-2">
              <%= f.label :start_date, 'Date From' %>
            </div>
            <div class="col-sm-8">
              <%= text_field_tag('start_date', params[:start_date], placeholder: 'From', class: 'datepicker') %>
            </div>
          </div>
          <div class="form-group">
            <div class="control-label col-sm-2">
              <%= f.label :end_date, 'Date To' %>
            </div>
            <div class="col-sm-8">
              <%= text_field_tag('end_date', params[:end_date], placeholder: 'To', class: 'datepicker') %>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <%= f.submit(@reservation.new_record? ? "Create reservation" : "Update reservation", class: 'btn btn-primary btn-med') %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
