<div class="content">
  <h1 align="center">Reservations</h1>
  <div class="data-container">
    <% if @reservations.present? %>
      <div class="data-header">
        <ul>
          <li>Owner</li>
          <li>Start Date</li>
          <li>Options</li>
        </ul>
      </div>

      <div class="data-content">
        <% @reservations.each do |reservation| %>
          <ul>
            <li><%= reservation.user.first_name + ' ' + reservation.user.last_name %></li>
            <li><%= reservation.start_date %></li>
            <li>
              <%= link_to 'View', reservation_path(reservation), class: "btn btn-med btn-primary" %>
              <%= link_to 'Edit', edit_reservation_path(reservation), class: "btn btn-med btn-primary" %>
              <%= link_to 'Cancel', reservation_path(reservation), method: :delete,
                data: { confirm: "Are you sure you want to cancel this reservation?" },
                  class: "btn btn-med btn-primary" %>
            </li>
          </ul>
        <% end %>
      </div>
    <% else %>
      <div class="data-content">
        You have no reservations at this time.
      </div>
    <% end %>
  </div>
</div>
