<div class="content">
  <h1 align="center">Reservations</h1>
  <div class="data-container">
    <div class="data-header">
      <ul>
        <li>Owner</li>
        <li>Start Date</li>
        <li>Options</li>
      </ul>
    </div>

    <div class="data-content">
      <% @reservations.each do |reservation| %>
        <ul>
          <li><%= reservation.user.first_name + ' ' + reservation.user.last_name %></li>
          <li><%= reservation.start_date.strftime('%a %b %d, %Y') %></li>
          <li>
            <%= link_to 'View', reservation_path(reservation), class: "btn btn-med btn-primary" %>
            <%= link_to 'Edit', edit_reservation_path(reservation), class: "btn btn-med btn-primary" %>
            <%= link_to 'Delete', edit_reservation_path(reservation), class: "btn btn-med btn-primary"  %>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
</div>
