<div class="content">
  <h1 align="center">Reservations</h1>
  <div class="data-content">
    <a href="<%= new_reservation_path %>" class="btn btn-lg btn-primary" title="Add Reservation">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      Add Reservation
    </a>
  </div>
  <div class="data-container">
    <div class="data-content clearfix">
      <% @reservations.each do |reservation| %>
        <div class="page-data-box block-width-small">
          <div class="page-item-box">
            <p class="page-content-header">Reservation ID: <%= reservation.id %></p>
            <% if current_user.admin? %>
              <p class="page-content"><img src="https://s3.amazonaws.com/petsit-bend/users.jpg" class="info-icon"><%= reservaton_user_name(reservation) %></p>
            <% end %>
            <p class="page-content"><img src="https://s3.amazonaws.com/petsit-bend/pets.jpg" class="info-icon"><%= reservation.pet_list %></p>
            <p class="page-content"><img src="https://s3.amazonaws.com/petsit-bend/timestamp.jpg" class="info-icon"><%= "#{reservation.start_date} - #{reservation.end_date}" %></p>
            <p class="page-content">
              <img src="https://s3.amazonaws.com/petsit-bend/options.jpg" class="info-icon">
              <%= link_to 'View', reservation_path(reservation), class: "btn btn-med btn-primary" %>
              <%= link_to 'Edit', edit_reservation_path(reservation), class: "btn btn-med btn-primary" %>
              <%= link_to 'Cancel', reservation_path(reservation), method: :delete,
                data: { confirm: "Are you sure you want to cancel this reservation?" },
                  class: "btn btn-med btn-primary" %>
            </p>
          </div>
        </div>
      <% end %>
    </div>
    <div class="paginate-box center">
        <%= will_paginate if @reservations.present? %>
    </div>
  </div>
</div>
