<div class="content">
  <h1 align="center"><img src="../assets/reservations.jpg" id="icon-image" class="img-circle">My Reservation</h1>
  <div class="data-container">
    <div class="show-data-header">Pets</div>
    <div class="show-data-content">
      <%= @reservation.pet_list %>
    </div>
    <div class="show-data-header">Reservation Dates</div>
    <div class="show-data-content">
      <strong>Starts:</strong> <%= @reservation.start_date %></br>
      <strong>Ends:</strong> <%= @reservation.end_date %></br>
    </div>
    <div class="show-data-header">Details</div>
    <div class="show-data-content">
      <strong>Medications:</strong>
      <% meds = @reservation.medications ? 'Yes' : 'No' %>
      <%= meds %></br>
     <strong>Special Instructions:</strong> <%= @reservation.special_instructions %>
    </div>
    <%= render 'admin/reservations_show.html.erb' if current_user.admin? %>
    <div class="show-edit-box">
      <%= link_to 'Edit', edit_reservation_path(@reservation), class: "btn btn-med btn-primary" %>
      <%= link_to 'Back', reservations_path, class: "btn btn-med btn-primary" %>
    </div>
  </div>
</div>
