<p>A new lead was submitted by <%= @lead.first_name %> <%= @lead.last_name %>!</p>

<h4>Lead Details:</h4>
<p>
  Lead ID: <%= @lead.id %><br/>
  First Name: <%= @lead.first_name %><br/>
  Last Name: <%= @lead.last_name %><br/>
  Email: <%= @lead.email %><br/>
  Phone: <%= @lead.phone %><br/>
  Reason: <%= @lead.reason %><br/>
  Message: <%= @lead.message %>
</p>
