<%= render 'shared/errors', obj: @testimonial %>

  <div class="form-container small-form-width">
    <div class="row clearfix">
      <div class="col-xs-12">
        <%= form_for(@testimonial) do |f| %>
          <div class="form-group">
            <%= f.text_area :body, class: 'form-control', placeholder: "Tell others about your experience!", rows: 10 %>
            <div id="testimonials-count">0 / 800 characters</div>
          </div>
          <% if logged_in? && current_user.admin? %>
            <div class="form-group">
              <%= f.label :approved, 'Approved?', class: 'label-style', id: 'radio-label' %>
              <div id="radio-box">
                <%= f.label :approved, 'Yes' %>
                <%= f.radio_button :approved, 'true' %>
                <%= f.label :approved, 'No' %>
                <%= f.radio_button :approved, 'false'%>
              </div>
            </div>
            <% end %>
          <div class="form-group">
            <%= f.submit(@testimonial.new_record? ? "Submit Testimonial" : "Update Testimonial", class: 'btn btn-primary btn-med') %>
            <%= link_to 'Back', testimonials_path, class: "btn btn-med btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
