<div class="content">
  <h1 align="center">Testimonials</h1>
  <% if logged_in? && current_user.testimonial.blank? %>
    <div class="data-content">
      <a href="<%= new_testimonial_path %>" class="btn btn-lg btn-primary" title="Add Testimonial">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        Add Testimonial
      </a>
    </div>
  <% end %>
  <% if logged_in? && current_user.testimonial.present? && current_user.testimonial.approved == false %>
    <div class="data-content">
      <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
      Your testimonial is currently being reviewed.
    </div>
  <% elsif @testimonials.empty? || no_approved_testimonials? %>
    <div class="data-content">
      No Testimonials at this time. Check back soon!
    </div>
  <% end %>
  <div class="data-container">
    <div class="data-content testimonial">
      <% if logged_in? && current_user.admin? %>
        <%= render 'admin/testimonials_index.html.erb' %>
      <% else %>
        <% @testimonials.each do |testimonial| %>
          <% if testimonial.approved? || (logged_in? && current_user.admin?) %>
            <div class="testimonial-image-box">
              <img src="assets/paw-print.jpg" id="testimonial-image" class="img-circle" alt="Petsit Bend Testimonials paw icon">
            </div>
            <div class="testimonial-content-box faq-item-box">
              <div class="testimonial-name-box">
                <%= "#{testimonial.user.last_name} Family & Pets" %>
              </div>
              <div class="testimonial-body-box">
                "<%= testimonial.body %>"
              </div>
          </div>
              <% if logged_in? && current_user.admin? %>
                <div class="testimonial-options">
                  <%= link_to 'View', testimonial_path(testimonial), class: "btn btn-med btn-primary" %>
                  <%= link_to 'Edit', edit_testimonial_path(testimonial), class: "btn btn-med btn-primary" %>
                  <%= link_to 'Delete', testimonial_path(testimonial), method: :delete,
                    data: { confirm: "Are you sure you want to delete this testimonial?" },
                      class: "btn btn-med btn-primary" %>
                </div>
              <% end %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
