<div class="content">
  <h1 align="center">Testimonial</h1>
  <div class="data-container">
    <div class="page-data-box">
      <div class="page-item-box">
        <p class="page-content-header">User Details</p>
        <p class="page-content">
          <strong>Email:</strong> <%= @testimonial.user.email %></br>
          <strong>First Name:</strong> <%= @testimonial.user.first_name %></br>
          <strong>Last Name:</strong> <%= @testimonial.user.last_name %></br>
        </p>
        <p class="page-content-header">Testimonial</p>
        <p class="page-content">
          <strong>Body:</strong> <%= @testimonial.body %></br>
          <strong>Approved?</strong> <%= @testimonial.approved? %></br>
        </p>
      </div>
    </div>
    <div class="show-edit-box">
      <%= link_to 'Edit', edit_testimonial_path(@testimonial), class: "btn btn-lg btn-primary" %>
      <%= link_to 'Back', testimonials_path, class: "btn btn-lg btn-primary" %>
    </div>
  </div>
</div>
