<footer class="footer clearfix">
  <small>
    Copyright &copy; Petsit Bend
  </small>
  <nav>
    <ul>
      <li><%= link_to 'Home', root_path, title: 'Petsit Bend Home' %></li>
      <li><%= link_to 'About', about_path, title: 'About Petsit Bend' %></li>
      <li><%= link_to 'FAQ', faq_path, title: 'Petsit Bend FAQ' %></li>
      <li><%= link_to 'Services', services_path, title: 'Petsit Bend Services' %></li>
      <li><%= link_to 'Testimonials', testimonials_path, title: 'Petsit Bend Testimonials' %></li>
      <li><%= link_to 'Contact', contact_path, title: 'Contact Petsit Bend' %></li>
    </ul>
  </nav>
</footer>