<!DOCTYPE html>
<html>
  <head>
    <title>Petsit Bend | Central Oregon Petsitting</title>
    <meta name="description" content="Petsit Bend: Local and reliable Central Oregon petsitting and dog walking located in Bend, OR. Looking for a pet sitter? Make a reservation for your pet today!">
    <meta name="keywords" content="petsitting,pet sitting,pet siting,pet sittig,petsit,pet sit,central oregon,bend,dog walking, dog waling,reservation,reservations,animal care">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="57x57" href="https://s3.amazonaws.com/petsit-bend/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="https://s3.amazonaws.com/petsit-bend/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="https://s3.amazonaws.com/petsit-bend/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="https://s3.amazonaws.com/petsit-bend/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="https://s3.amazonaws.com/petsit-bend/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="https://s3.amazonaws.com/petsit-bend/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="https://s3.amazonaws.com/petsit-bend/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://s3.amazonaws.com/petsit-bend/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="https://s3.amazonaws.com/petsit-bend/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="https://s3.amazonaws.com/petsit-bend/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://s3.amazonaws.com/petsit-bend/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="https://s3.amazonaws.com/petsit-bend/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://s3.amazonaws.com/petsit-bend/icons/favicon-16x16.png">
    <link rel="manifest" href="https://s3.amazonaws.com/petsit-bend/icons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="https://s3.amazonaws.com/petsit-bend/icons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.2/awesomplete.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.2/awesomplete.js" async></script>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= stylesheet_link_tag    'application', 'https://fonts.googleapis.com/css?family=Amatic+SC', media: 'all' %>
    <%= stylesheet_link_tag    'application', 'https://fonts.googleapis.com/css?family=Roboto', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <a name="top"></a>
  <body>
    <%= render 'layouts/navigation' %>
    <%= render 'layouts/messages' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
