<!DOCTYPE html>
<html>
  <head>
    <title>Petsit Bend</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= stylesheet_link_tag    'application', 'https://fonts.googleapis.com/css?family=Amatic+SC', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render 'layouts/navigation' %>
    <%= render 'layouts/messages' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
